*
{
    width: 1440px;



  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;

  background-color: var(--background-color);

}

:root
{
    --background-color:hsl(47, 88%, 63%) ;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 7%);
}

.illustration
{
    width:336px;
    height:201px;
    border-radius: 10px;
}


.blog1
{
    border: 1px solid var(--dark-gray);
    border-radius: 20px;
    box-shadow: 6px 6px;
    padding: 30px;
    width: 336px;
    background-color: var(--white);

    margin: 200px auto;
}

p
{
    font-size: 16px;   
    background-color: transparent;
    padding-top: 10px;
}

h2
{
    background-color: transparent;
}

.category
{
        display: inline;
        background-color: var(--background-color);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}

.description
{
    display: inline;
    background-color: transparent;
    color: var(--light-gray);
}

.common-text
{
    color: var(--light-gray);

}

.image-avatar
{
    background-color: transparent;
    vertical-align: middle;
    width: 40px;
}

.author
{
    padding-left: 10px;
    background-color: transparent;
    font-weight: bolder;
}

@media (max-width: 375px) {
    
}